[2016-11-23 17:20] ablwr opened #1 "mobile"
Important todo! Extend theme to make sidebar navigation appear in mobile!

[2016-11-28 00:46] ablwr commented on #1
fixed

[2016-11-28 00:46] #1 closed

[2016-12-06 20:36] kellyhaydon opened #5 "Cannot add images that show up in Prose"
I'm trying to add an image, but what looks fine in GitHub: https://github.com/bavc/avaa/blob/master/_artifacts/dv_quilting.md

Is just placeholder square in prose. I've tried adding the image into Prose directly, but the same thing happens :(.

[2016-12-07 03:59] ablwr commented on #5
I'll try it out. I also am not convinced that Prose is in any way better or easier than using the Github UI. But I use the Github UI every day and Prose.io is new to me so it's harder for me to see the difference. What do you think?

[2016-12-16 02:22] ablwr commented on #5
Whoops -- might be able to amend this later but `{{ site.baseurl }}` has to appear at the beginning of any URLs so the site knows how to direct it accordingly. I just made the edit in Prose and committed!

[2016-12-16 03:07] ablwr commented on #5
Ah! I had put this in the contributing guidelines but the above syntax was being rendered as code instead of as text representing the code I recommend using -- my bad! I just fixed that (and need to update the docs more comprehensively...)

[2017-01-10 08:00] kfrn opened #13 "BAVC Preservation Glossary disappeared?"
There's now nothing at this link (https://www.bavc.org/preservation/resources/preservation-glossary), and this link (https://www.bavc.org/preserve-media/preservation-tools/preservation-glossary) is 'empty' - I don't see the Pres Glossary anywhere on the BAVC site. :(
I've changed the links in the AVAA to archived versions, but will the Glossary return at some point?

[2017-01-14 21:34] kellyhaydon commented on #13
Thanks @kfrn. The Preservation Glossary was removed when our website migrated to a Drupal platform on the promise that it would be made into a PDF that we could add to the site as an attachment. This did not happen, but were were thinking it is another project to put on GitHub (ala Cable Bible) and let the community update it as needed. You can still find it on the Wayback Machine: https://web.arc

[2017-01-14 23:51] ablwr commented on #13
What a great little resource!!! This shouldn't be hard to translate into Markdown and add to this AVAA site, should we do that?

[2017-01-15 00:35] kfrn commented on #13
Thanks @kellyhaydon. It would be great to have it on github, whether as part of the AVAA or a standalone repo. Let me know if you need a hand with anything. :-)

[2017-01-16 23:36] ablwr commented on #5
This is ostensibly fixed, right? But how do we feel about Prose? Maybe we can pose this Prose question at the meeting on Fri-day.

[2017-01-16 23:36] ablwr commented on #5
Otherwise I'm closing this.

[2017-01-16 23:36] #5 closed

[2017-01-17 00:05] ablwr commented on #13
Resolved in #17

[2017-01-17 00:20] ablwr commented on #13
Actually I am gonna re-open this issue because it needs some QA. This was a quick-n-dirty migration so I'm sure there are some less-than-ideal display errors, like weird-bolding or weird-spacing.

[2017-01-17 00:54] kfrn commented on #13
As mentioned in my pull request (https://github.com/bavc/avaa/pull/20), I noticed a few rogue sentence fragments. These are old, baked-in errors.

* Just after **Bit error rate** ([link](http://web.archive.org/web/20120727161244/http://bavc.org/preservation/resources/preservation-glossary#back)), there's a random line - it looks like the start of the sentence was cut off.

* At **Drop-frame TC** (

[2017-01-17 20:12] kellyhaydon commented on #13
Thank you both! I love it! You saved the Preservation Glossary!

[2017-01-17 20:15] kellyhaydon opened #21 "duplicate contributor guides?"
Heya - there is a contributing.md and a contributors_guide.md. Are these duplicates? I tried to delete the contributing.md from my clone and push it or pull it but I'm still struggling a bit with how this works.

[2017-01-17 20:21] kellyhaydon commented on #13
What would ya'll think about changing the name to AV Preservation Glossary? It's has always seemed misleading to me to be a general "preservation" glossary.

[2017-01-17 20:29] bturkus commented on #13
yes, this is incredible! thank you both. I'm about to redirect the old URL
to the new site; will let you know if I have any trouble.

On Tue, Jan 17, 2017 at 12:12 PM, metacynic <notifications@github.com>
wrote:

--

*Ben Turkus **| **Preservation Project Manager*
*415.558.2158 **|** benturkus@bavc.org <benturkus@bavc.org> *

[2017-01-17 22:06] ablwr commented on #13
@kellyhaydon That's fine with me. @bturkus let me rename the file first to integrate Kelly's suggestion, which will change the URL. Then we can consider that the permalink.

[2017-01-17 22:07] ablwr commented on #13
Unless @kellyhaydon you are fine with changing it in the name only and keeping that URL, since it is inherently the AVAA/Preservation Glossary.

[2017-01-17 22:08] bturkus commented on #13
whoops. too late. but we can redo it when you're ready. I got overly
excited!

On Tue, Jan 17, 2017 at 2:06 PM, Ashley <notifications@github.com> wrote:

--

*Ben Turkus **| **Preservation Project Manager*
*415.558.2158 **|** benturkus@bavc.org <benturkus@bavc.org> *

[2017-01-17 22:09] kellyhaydon commented on #13
I would be fine with keeping the URL

On Tue, Jan 17, 2017 at 2:08 PM, bturkus <notifications@github.com> wrote:

--

*Kelly Haydon | Preservationist*
*415.558.2158 <http://415.558.2158> | kelly@bavc.org
<kelly@bavc.org> | @bavcpreserve <https://twitter.com/BAVCPreserve>*

Archivists can use the power of archives to promote accountability, open
government, diversity, and social justice. In doing s

[2017-01-17 22:14] ablwr commented on #13
OK cool, I'll make the minor adjustments in a minute when I'm home from werrrrk

[2017-01-17 22:17] ablwr commented on #21
Contributing.md is for when someone opens a Pull Request in Github and they get the guidelines on how to submit code. It's a little different from contributors_guide which is meant to be a public-facing webpage. But we don't need to have Contributing.md -- or maybe Contributing.md should link to the public-facing webpage.

[2017-01-17 22:20] kellyhaydon commented on #21
nah, explanation understood!

[2017-01-17 22:20] #21 closed

[2017-01-17 23:20] ablwr commented on #13
Resolved by pushing straight to master in this commit: https://github.com/bavc/avaa/commit/4a4654a96cabbc19f20bb87a38672c835c4f6233

URL persists.

[2017-01-17 23:20] #13 closed

[2017-01-20 15:12] ablwr opened #22 "Needs 404 page"
Especially important within the context of breaking links. Needs robust 404 page with explanation, ability to search, etc.

[2017-01-20 15:13] ablwr opened #23 "Link resolving possible?"
Need to investigate if there's a way to map and resolve links from MediaWiki pages to new page structure. This might be tricky because of the unfriendly URLs used in MediaWiki, but maybe some tricky-mapping can occur?

[2017-01-20 23:42] kfrn commented on #23
This is a great thing to tackle, auto redirects would be niiiiiiice.

[2017-01-23 13:22] kellyhaydon opened #30 "add images to home page"
maybe just migrate what is on wikimedia for now

[2017-01-23 13:47] kellyhaydon opened #31 "wishlist: viewing options for artifacts?"
When visiting the artifacts (tags) page, I often wish I had the option of viewing it in a mode similar to that of the AV Preservation Glossary: in alphabetical order by artifact with the navigational bar at the top. I also see the value of organizing by tags, especially since they can be clicked through from anywhere. Would it be possible to give users the option of browsing the artifacts either a

[2017-01-23 13:56] ablwr commented on #31
Not difficult, assign to me

[2017-01-23 16:35] kellyhaydon opened #33 "update all artifact pages with basic template and soundcloud links"
Assigning this too myself. Currently up to artifact G in my remote repo.

[2017-01-23 18:08] kellyhaydon opened #34 "wishlist: image, video and sound gallery pages"
As seen in the wikimedia sidebar (see screencap)

![screen shot 2017-01-23 at 1 08 36 pm](https://cloud.githubusercontent.com/assets/9436241/22216434/11a48970-e16d-11e6-8bd2-a716ba5523cd.png)

[2017-01-26 00:22] kellyhaydon opened #36 "About page images"
About page is very text heavy - maybe some images?

[2017-01-28 01:48] ablwr commented on #23
@oceanofsound will investigate!

[2017-01-28 02:41] #22 closed

[2017-01-28 02:43] ablwr opened #43 "Consolidate search.js and 404search.js"
Do some testing on string manipulation and consolidate two search files (they are extremely similar)

[2017-01-28 21:58] kellyhaydon opened #44 "delete kh/artifacts"
Hey @ablwr - I am trying to delete the kh/artifacts branch as it was created during my self-training phase and not a thing. I have not been successful. Is this something you can do easily?

[2017-01-28 23:41] ablwr commented on #44
I have open branches that I should close, too. If you go here: https://github.com/bavc/avaa/branches you can see them and delete them using the red trash-can on the far right.

[2017-01-28 23:41] ablwr commented on #44
I left yours so you can delete it!

[2017-01-28 23:41] ablwr commented on #44
You can delete anyone's branches -- mine, yours, Ben's, etc.

[2017-01-29 19:30] kellyhaydon commented on #44
Done. Thank you!

[2017-01-29 19:30] #44 closed

[2017-01-30 23:35] kellyhaydon commented on #30
added TBC artifact from old site

[2017-01-30 23:35] #30 closed

[2017-01-30 23:36] kellyhaydon commented on #36
added Jordan Biren gif

[2017-01-30 23:36] #36 closed

[2017-01-30 23:43] ablwr opened #49 "Mobile could be better"
The hamburger pops up but it's maybe unclear how to get to the navigation

[2017-01-31 02:23] ablwr commented on #33
This is done, right? You are so great.

[2017-01-31 02:23] ablwr commented on #33
G for Great.

[2017-01-31 02:24] kellyhaydon commented on #33
Not really, gonna get @rebeccaleung on that next week :)

On Mon, Jan 30, 2017 at 6:23 PM, Ashley <notifications@github.com> wrote:

--

*Kelly Haydon | Preservationist*
*415.558.2158 <http://415.558.2158> | kelly@bavc.org
<kelly@bavc.org> | @bavcpreserve <https://twitter.com/BAVCPreserve>*

Archivists can use the power of archives to promote accountability, open
government, diversity, and social

[2017-01-31 02:25] ablwr commented on #33
You are still great and @rebeccaleung is also great.

[2017-01-31 10:07] kieranjol commented on #34
👍  this would be really handy!

[2017-02-02 00:49] pamelajean commented on #34
yes, i really miss the galleries!

[2017-02-02 03:04] #23 closed

[2017-02-02 03:07] ablwr commented on #34
An option here might be for someone to create a few simplistic shell scripts that can be run and the results can be dumped into gallery pages. I can't think about how to do this other than this semi-manual process (and since the pages are static, it can't be a cron-job style solution).

Any takers for implementing a script that can be occasionally run?

The script would have to go through the enti

[2017-02-02 17:04] oceanofsound commented on #33
I've done all the SoundCloud links, but there's still a bunch of video to do.

https://bavc.github.io/avaa/artifacts/head_clog_banding.html
https://bavc.github.io/avaa/artifacts/head_switching_noise.html
https://bavc.github.io/avaa/artifacts/image_lag.html
https://bavc.github.io/avaa/artifacts/skew_error.html
https://bavc.github.io/avaa/artifacts/stiction.html
https://bavc.github.io/avaa/artifacts

[2017-02-02 18:30] kellyhaydon commented on #33
Thanks Geoff! @rebeccaleung and I will work on finding those missing videos.

Kelly

[2017-02-02 21:07] oceanofsound opened #66 "Add unknown audio artifact page?"
I've started a dumping ground playlist for unknown audio artifacts: https://soundcloud.com/av_artifact_atlas/sets/unknown-audio-artifacts-1

Should we create a page or two off the home page for unknown audio and video artifacts to live? We could keep each one as an individual issue, but I imagine they won't get as many ears or eyeballs.

[2017-02-03 00:02] rebeccaleung opened #68 "Add better waveform graphs to crushed set-up artifact"
The screen captures of digital waveform monitors are hard to read. Maybe change the examples to QCTools waveforms? Assigned to Kelly

[2017-02-06 18:58] kfrn opened #72 "Video links/embeds"
I noticed that currently, the video examples are just text links that are dead, e.g.:

`http://avaa.bavc.org/artifactatlas/index.php/File:HEADCLOG2_2.mp4` on the [video head clog page](https://bavc.github.io/avaa/artifacts/video_head_clog.html)

Is there a plan to restore the videos? Let me know if I can help. :)

[2017-02-06 19:08] kfrn opened #73 "AKA null in search results"
When searching for a keyword, each result comes up with the 'also known as' for that artefact. Many of them are `null` (no aka), in which case it would nice to hide that line.

![akanull](https://cloud.githubusercontent.com/assets/16832997/22662052/883d7628-ed0c-11e6-97cd-99c928ae7353.PNG)

I can do this, it should be a simple enough logic tweak to the search.js  :)

[2017-02-06 19:10] retokromer commented on #73
+1

[2017-02-06 19:13] ablwr commented on #72
I think @kellyhaydon has been heading this up -- she has the videos and has to upload them to Internet Archive account managed by BAVC -- and the Stanford Crew are going to do some adding (but maybe of only new content).

[2017-02-06 19:13] ablwr commented on #73
Oh gosh I saw this the other day and meant to put in a ticket for it! Thank you! I can do this (unless someone else wants to).

[2017-02-06 19:15] kfrn commented on #73
Happy to do it! In the next few days okay?

[2017-02-06 19:15] ablwr commented on #73
This will be fixed in 404search.js ... but should be fixed in both. But I also have a ticket out to consolidate both again which is also just a small tweak of the JS file. 404search just grabs the URL parameter instead of the one in the search box -- but there should really just be one JS file that grabs one-or-the-other depending on the page. Ticket #43!

[2017-02-06 19:16] ablwr commented on #73
@kfrn Sure! If I beat you, I beat you. If you beat me, you beat me. AVAA wins!

[2017-02-06 19:16] kfrn commented on #72
I figured there was a plan! Sounds good :)

[2017-02-06 19:20] kfrn commented on #73
Oh, I failed to notice the 404search file & the other ticket.
In fact, couldn't it be solved (the display issue) by adding a conditional in the search page template: https://github.com/bavc/avaa/blob/master/search.html ?

[2017-02-06 19:23] ablwr commented on #73
Oh yeah I think I remember it being in the template logic and not the .js logic!

[2017-02-06 19:59] kellyhaydon commented on #72
Yeah, def, we are on it but might be a little slow going.

On Mon, Feb 6, 2017 at 11:16 AM, Katherine Frances Nagels <
notifications@github.com> wrote:

--

*Kelly Haydon | Preservationist*
*415.558.2158 <http://415.558.2158> | kelly@bavc.org
<kelly@bavc.org> | @bavcpreserve <https://twitter.com/BAVCPreserve>*

Archivists can use the power of archives to promote accountability, open
government, di

[2017-02-06 21:42] kfrn commented on #73
Tried fiddling with the template, it didn't really seem to do the trick. I may not have properly understood the templating, but it's working nicely with the edit to the search.js file.

[2017-02-07 21:38] #73 closed

[2017-02-07 21:38] ablwr commented on #73
closed via #74

[2017-02-09 17:12] #43 closed

[2017-02-09 21:39] kellyhaydon commented on #33
Closing this and moving the video embeds to another ticket.

[2017-02-09 21:39] #33 closed

[2017-02-09 21:47] kellyhaydon commented on #72
These need to be embedded: Most of the videos are here: https://archive.org/details/@bavc_preservation_dept

https://bavc.github.io/avaa/artifacts/head_clog_banding.html
https://bavc.github.io/avaa/artifacts/head_switching_noise.html
https://bavc.github.io/avaa/artifacts/image_lag.html
https://bavc.github.io/avaa/artifacts/skew_error.html
https://bavc.github.io/avaa/artifacts/stiction.html
https:/

[2017-02-16 23:35] rebeccaleung opened #85 "Block Noise artifact needs an example (video or image)"
https://bavc.github.io/avaa/artifacts/block_noise.html

[2017-02-16 23:43] rebeccaleung opened #86 "ELECTRICAL GROUND LOOP INTERFERENCE AC BEAT artifact needs example (video)"
https://bavc.github.io/avaa/artifacts/ac_beat.html

[2017-02-16 23:48] rebeccaleung opened #87 "Crash Record artifact needs an example (image or video)"
https://bavc.github.io/avaa/artifacts/crash_record.html

[2017-02-16 23:50] rebeccaleung opened #88 "Dihedral Maladjustment artifact needs an example (video or image)"
https://bavc.github.io/avaa/artifacts/dihedral_maladjustment.html

[2017-02-17 00:03] rebeccaleung opened #89 "Incompatibility Between Television Standards artifact needs an example (video or image)"
https://bavc.github.io/avaa/artifacts/incompatibility_between_television_standards.html

[2017-02-17 00:03] kellyhaydon commented on #87
Sending this one to @bealtaine84 - who knows her crash record.

[2017-02-17 00:04] rebeccaleung opened #90 "Lengthwise Tape Expansion or Shrinkage artifact needs an example (video or image)"
https://bavc.github.io/avaa/artifacts/lengthwise_tape_expansion_or_shrinkage.html

[2017-02-17 00:05] kellyhaydon commented on #86
I got this, I know exactly where one is.

[2017-02-17 00:05] rebeccaleung opened #91 "Long Play artifact needs an example (video or image)"
https://bavc.github.io/avaa/artifacts/long_play.html

[2017-02-17 00:06] rebeccaleung opened #92 "Loss of Color Lock artifact artifact needs example (video or image)"
https://bavc.github.io/avaa/artifacts/loss_of_color_lock.html

[2017-02-17 00:07] rebeccaleung opened #93 "Low RF artifact needs example (video or image)"
https://bavc.github.io/avaa/artifacts/low_rf.html

[2017-02-17 00:08] rebeccaleung opened #94 "Luminance Noise artifact needs example (video or image)"
https://bavc.github.io/avaa/artifacts/luminance_noise.html

[2017-02-17 00:09] rebeccaleung opened #95 "Mosquito Noise artifact needs example (video or image)"
https://bavc.github.io/avaa/artifacts/mosquito_noise.html

[2017-02-17 00:11] rebeccaleung opened #96 "Scratches and Tape Wear artifact needs example (video or image)"
https://bavc.github.io/avaa/artifacts/scratches_and_tape_wear.html

[2017-02-17 00:13] rebeccaleung opened #97 "Sub-sampling artifact needs example (video or image)"
https://bavc.github.io/avaa/artifacts/sub-sampling_artifact.html

[2017-02-17 00:16] rebeccaleung opened #98 "Venetian-blind Effect artifact needs example (video or image)"
https://bavc.github.io/avaa/artifacts/venetian-blind_effect.html

[2017-02-17 00:18] rebeccaleung opened #99 "Video Overwrite artifact needs example (video or image)"
https://bavc.github.io/avaa/artifacts/video_overwrite.html

[2017-02-17 00:23] rebeccaleung opened #100 "Scratches and Tape Wear artifact needs example (audio)"
https://bavc.github.io/avaa/artifacts/scratches_and_tape_wear.html

[2017-02-17 00:40] rebeccaleung opened #101 "Tape Deformation artifact needs example (video)"
https://bavc.github.io/avaa/artifacts/tape_deformation.html

Has an image, but would be better to have a video.

[2017-02-17 00:45] kellyhaydon commented on #86
Done!

[2017-02-17 00:45] #86 closed

[2017-02-17 00:58] kellyhaydon commented on #95
I got this - mosquito noise makes me tear me hair out.

[2017-02-17 17:51] oceanofsound commented on #72
It looks like videos for these artifacts are not on IA?

https://bavc.github.io/avaa/artifacts/skew_error.html
https://bavc.github.io/avaa/artifacts/stiction.html
https://bavc.github.io/avaa/artifacts/sync_loss.html
https://bavc.github.io/avaa/artifacts/tbc_processing_artifact.html
https://bavc.github.io/avaa/artifacts/tracking_error.html

Michael may still have these locally if they're missing on

[2017-02-17 18:15] kellyhaydon commented on #72
If Micheal has these, that would be amazing. I'm working with Tech on
finding them in the old site we copied but we've had a lot of turnover
lately.

On Fri, Feb 17, 2017 at 9:51 AM, oceanofsound <notifications@github.com>
wrote:

--
Kelly Haydon
Preservation Manager
Bay Area Video Coalition
415-558-2158 | kelly@bavc.org
twitter/instagram: @bavcpreserve

*Apply to the Preservation Access Program
<

[2017-02-21 22:47] kellyhaydon commented on #72
Got 'em from Michael. I uploaded them to IA and updated their AVAA respective pages. Here's a link to all the artifacts we have on archive.org: https://archive.org/details/@bavc_preservation_dept?and[]=subject%3A%22AV+Artifact+Atlas%22

Kelly

[2017-02-21 22:47] #72 closed

[2017-02-22 00:06] kellyhaydon commented on #66
+1

Thanks @oceanofsound! This is a good idea. I was holding out for a message-board style functionality where we could interact with each other about unknown artifacts. But maybe we should go ahead and have a separate page until we can come with a platform for that. @ablwr what do you think?

[2017-02-22 02:26] ablwr commented on #66
Whoops, don't know how I missed this from 19 days ago... yes. Whatever y'all want!

[2017-02-23 00:29] kellyhaydon commented on #91
Assigning to @bealtaine84 because she's about to rawk the long play

[2017-03-05 20:29] kellyhaydon commented on #34
It's not perfect, but as a replacement video gallery you us the AV Artifact Atlas tag in archive.org to see the videos as thumbnails. We have an IA collection pending: https://archive.org/search.php?query=subject%3A%22AV+Artifact+Atlas%22&sort=-publicdate&and[]=subject%3A%22AV+Artifact+Atlas%22

[2017-03-20 22:05] bealtaine84 commented on #87
Crash record example added.

[2017-03-20 22:05] #87 closed

[2017-03-20 22:09] kellyhaydon commented on #92
@rebeccaleung - can you add this video? https://archive.org/details/AVAAUmaticColorLock

[2017-03-23 18:36] rebeccaleung commented on #92
I tried to add this video. Hope it worked...

[2017-03-23 18:36] #92 closed

[2017-05-07 16:54] wodim opened #110 "Buttons don't work on Firefox"
On Firefox all these buttons do nothing when clicked.

![](http://i.imgur.com/jTZaO96.png)

[2017-05-07 17:52] ablwr commented on #110
Uh oh!! I'll take a look at this as soon as I'm at a computer!

[2017-05-07 22:03] ablwr commented on #110
OK. Hi @wodim, I pushed a fix to change this. This uncovers some other things that AVAA should be better about, i.e. being more accessible and not using HTML tags just for making the site look stylin' (or *slightly more* stylin').

The problem should be resolved now.

Thank you so much for making an issue and bringing this to our attention!!! ✨ 💖

[2017-05-07 22:06] ablwr opened #112 "Check cross-browser functionality"
Site needs to be reviewed in the major browsers (Chrome, Firefox, Safari, Opera, IE) for functionality

[2017-05-07 22:21] ablwr opened #113 "Links styled as buttons should use CSS and not tags"
Right now, links are wrapped in a button to give style but that's no good, should be updated.

[2017-05-07 23:33] wodim commented on #110
That's great, now it works. Thank you.

On Mon, May 8, 2017 at 12:03 AM, Ashley <notifications@github.com> wrote:

[2017-05-07 23:55] ablwr commented on #110
So sorry you had to make an issue to begin with!

[2017-05-07 23:55] #110 closed

[2017-05-10 22:27] kellyhaydon commented on #110
Thank you both!

[2017-05-17 00:43] ablwr opened #114 "Make default font larger"
Remove `0.85em;` from the body CSS to bring the font size up to 1em.

[2017-05-17 00:45] ablwr opened #115 "How to make a new page?"
Need more documentation on how to add a new page to AVAA, for new artifacts.

[2017-05-17 00:59] ablwr opened #116 "Film artifacts needed!"
Film has problems too.

[2017-05-17 00:59] ablwr opened #117 "Sidebar search button needs style"
It needs a CSS class added to make it look a little nicer.

[2017-05-17 05:11] retokromer commented on #117
… and to make the code more readable (i.e. easier to maintain).

[2017-05-17 14:49] ryanfb opened #118 "Artifact: MPEG-2 truncation(?) vertical streaking/smearing"
I have an artifact I've seen in the wild a few times, and somewhat reliably from my own capture setup, where an MPEG-2 frame gets vertically smeared. I assume this is due to truncated data (the capture setup where I see it most often is an HDHomeRun Prime, which lets you record an MPEG-2 TS from cable by giving it a duration - I think sometimes the duration doesn't line up exactly with an MPEG-2 f

[2017-05-18 00:40] ablwr commented on #118
I've seen this too when doing some intentional file fuzzing, here is William Gibson looking 😵  SURPRISED 😵

![screen shot 2017-05-17 at 20 40 05](https://cloud.githubusercontent.com/assets/3260492/26181816/1bec7054-3b41-11e7-9c3b-0eb70a0fa988.png)

[2017-05-18 01:13] ablwr commented on #118
That theory makes sense to me, or the live encoding trying to keep up with the time and skipping to the next frame prematurely, but repeating the last line.

I will open this up as a ✨  NEW ARTIFACT ✨ , thank you very much! Maybe more people will have more details.

[2017-05-19 10:26] kellyhaydon commented on #118
Interesting - have we only seen this related to MPEG-2?

There's a similar-looking video clog artifact for a Umatic tape that I was always wondering was really a TBC error (looks a little digity) https://bavc.github.io/avaa/artifacts/video_head_clog.html

[2017-05-19 14:49] kieranjol commented on #116
Hi, things like dirt, sparkle, crizzling etc? I could take a look through our material.

[2017-05-19 17:55] ablwr commented on #116
Anything that might happen during the digitization process! AVAA was create with video in mind but can/should be expanded to film and digital video.

[2017-05-19 18:27] retokromer commented on #116
I can contribute examples of:

- colour shift
- missing frames
- phantom frames
- black frames
- duplicated frames
- quadrant misalignment
- horizontal pixel misalignment
- vertical pixel misalignment

[2017-05-20 01:40] ablwr commented on #116
@retokromer that would be fantastic! Would it be helpful if I made starter pages for these? We don't currently have documentation on adding new pages (Issue #115) but this PR shows how (easy for an expert such as yourself): https://github.com/bavc/avaa/pull/119

[2017-05-21 08:04] kfrn opened #122 "Sidebar: Browse by Category doesn't list categories underneath"
![avaa-browse-category](https://cloud.githubusercontent.com/assets/16832997/26282164/8bf454ae-3e5f-11e7-9572-a672eea15700.png)

The relevant code is [here](https://github.com/bavc/avaa/blob/master/_layouts/default.html#L64), but I'm not sure what `{% for category in categories %}` is trying to access.

[2017-05-21 08:13] retokromer commented on #122
And, immediately above that line, `<h4>` cannot be nested inside `<ul>`.

[2017-05-21 08:15] kfrn commented on #122
Nice catch, @retokromer.

[2017-05-21 14:09] ablwr commented on #122
Haha! Thanks @kfrn! Made a PR to fix the above.

<img width="338" alt="screen shot 2017-05-21 at 10 07 45" src="https://cloud.githubusercontent.com/assets/3260492/26284600/61ff1082-3e0d-11e7-83b1-a29661162fb1.png">

Should look like this, although this reveals some messy data (lack of commas causing two categories to join together). I will send a subsequent PR to clean that up.

[2017-05-21 14:27] #122 closed

[2017-05-21 14:34] ablwr commented on #117
Thanks @kfrn !

[2017-05-21 14:34] #117 closed

[2017-05-21 14:36] retokromer commented on #116
@ablwr I guess, at some point, a starter page would be useful. I will try to add some examples before leaving for Amsterdam.

[2017-05-22 00:16] ablwr commented on #116
Also @kieranjol: What is CRIZZLING??? I've never heard of this term!

[2017-05-22 00:25] ablwr commented on #116
I made a branch with new pages for each of the above.

[2017-05-22 06:11] retokromer commented on #116
Thank you, but I cannot upload images here:
[code]
I have uploaded an example on [our website](https://avpres.net/various_combined.png). I will return to this after Amsterdam and, probably, also after Bangkok.

[2017-05-22 13:52] ablwr commented on #116
Ah, thank you, I can add them.

[2017-05-22 14:03] retokromer commented on #116
OK, I’ll prepare the images when back. (The one I uploaded is more for fun: it groups many errors, also at least one – I notice now – I didn’t mention in the list.)

[2017-05-22 14:47] kieranjol commented on #116
Hi Ashley/Reto: All this work is great, I'm hoping to find the time to
contribute to this.

Crizzling is emulsion damage (maybe caused by shrinkage in the base? - not
sure actually) that represents as dancing crack-like lines, similar to what
you'd see on old porcelain or cracks on an oil painting. It's my favourite
 type of film damage as it generally looks quite nice and I guess I'm used
to seei

[2017-05-22 23:15] ablwr commented on #116
#128 adds some, as well as starter-pages. Thanks @retokromer!

[2017-05-23 18:35] ryanfb commented on #34
I wonder if [Jekyll data files](https://jekyllrb.com/docs/datafiles/) would be a good way to implement this. You could have `_data/examples.yml` with e.g.:

[code]

Then a gallery that looks like:

[code]

Then `_includes/examples.html` could use something like:

[code]

You could also use this to dynamically build the examples on each page from the same data (loop over the array and output all ex

[2017-05-24 15:29] ablwr opened #130 "Writing style-guide"
We have some documentation on how to add new information to existing artifacts and a ticket open to explain how to add new artifacts, but I think a style guide should be implemented regarding how artifacts are spoken of, etc.

[2017-05-25 13:58] ablwr commented on #34
Just here to say I haven't had time to look at this but I'm excited to find time and read through it. @ryanfb you are a gem! 💎

[2017-06-05 22:07] kellyhaydon commented on #100
done! in the PR

[2017-06-05 22:08] #100 closed

[2017-06-22 12:33] kieranjol commented on #34
:+1:

[2017-07-10 01:51] ablwr opened #134 "Needs a favicon.ico"
If we add a favicon.ico at the top level, it will show up as the icon in browsers. We might have to add a link to the favicon somewhere in the Jekyll site. If someone wants to do this but needs help, just let me know!

[2017-07-10 01:56] ablwr opened #135 "All pages should include "AVAA" as a suffix"
It helps people know where they are! The homepage for AVAA just says "Home," which isn't very descriptive or helpful!

[2017-07-10 01:57] ablwr opened #136 "Sidebar search button and search box should be the same size"
For looking prettier.

[2017-07-15 16:06] ablwr opened #138 "Open contingency plan document for dependencies?"
With rumors circulating over the past few days that Soundcloud is shutting down, it begets the question: What is the contingency plan for the demise of a platform AVAA uses to host example files?  I don't think the Soundcloud issue is an immediate threat, but it can be used as an impetus to ensure we are prepared for an event similar to this.

Related, what is the plan for sample file ownership? B

[2017-07-16 22:31] hannahfrost commented on #138
These are all great questions and let's definitely find ways to answer them. We most certainly can deposit the media samples to the Stanford Digital Repository as primary or back-up source for the streaming samples. When we started this project in 2011, SDR didn't support streaming directly - but now it does! Maintaining copies of the media files in Git makes a lot of sense too. Redundancy and dis

[2017-07-17 16:53] oceanofsound commented on #138
To answer some of your questions Ashley:

Where else do the sample files live?
--> aside from Soundcloud for the audio files and IA for the video files, I believe we (SMPL) have local copies on our machines of the samples we created
Is there a collected, updated, active list?
--> I don't think so (going off of what's on Soundcloud/IA is your best bet at the moment)
Who has access to the Soundcloud

[2017-07-18 17:10] oceanofsound commented on #138
Shoot, I'm currently unable to add any additional emails to the Soundcloud account associated with my Stanford email. I'll keep trying...

[2017-07-23 04:14] kfrn commented on #114
This one can be closed, no?

[2017-07-23 04:14] kfrn commented on #113
Another one that can be closed :)

[2017-07-23 04:27] kfrn commented on #116
'Crazing' is the term I would use for that, but I just looked up 'crizzling' and it's much the same thing but for glass.
I've seen this kind of thing mostly in acetate (still) negs.

Anyway, I can probably dig up some film pics too. And I made an example GIF of sparkle just the other day!

[2017-07-23 14:24] ablwr commented on #114
:)

[2017-07-23 14:24] #114 closed

[2017-07-23 14:26] #113 closed

[2017-07-23 14:33] ablwr commented on #116
Oooo 'crazing' should be added as an also-known-as if it isn't already!

[2017-07-23 14:43] ablwr commented on #138
I dropped these large issues and then promptly had zero free time to sit down and continue to think them through. Thanks very much @hannahfrost and @oceanofsound for this investigation! I promise I'll follow up shortly.

[2017-07-24 15:24] kellyhaydon commented on #138
Thanks all! The initial plan was to move files to IA and get everything in one place. I can do this assuming I can pull all the Soundcloud files without or without a login (I think I can?)

Anyone at BAVC can access the IA site, though maybe I should also change that login to the avaa-maintainers list?

[2017-07-24 16:04] oceanofsound commented on #138
Strangely I've been unable to add any additional emails to the Soundcloud account associated with gwillard@stanford.edu. While I get this problem resolved, feel free to email me for the password if you want in.

[2017-08-06 18:29] ablwr commented on #135
Thanks @kfrn !

[2017-08-06 18:29] #135 closed

[2017-08-06 18:29] #134 closed

[2017-08-07 20:25] ablwr commented on #116
Should this issue stay open? And @retokromer, are there still issues with adding images?

[2017-08-07 20:26] kieranjol commented on #116
I think: no, there might be enough natural momentum to add more film artefacts now that @retokromer and @kfrn have laid the groundwork.

[2017-08-07 20:28] ablwr commented on #116
Me too. I am going to close this, but @retokromer open a ticket if you need me to add an image, and `crazing` is added to `crizzling`.

[2017-08-07 20:28] #116 closed

[2017-08-08 02:16] ablwr commented on #31
These are all sorted alphabetically now, right?

[2017-08-08 02:16] #31 closed

[2017-08-08 02:42] #136 closed

[2017-08-09 14:44] ablwr opened #144 "sparkle.md -- more support for how to fix"
Based on conversation in this PR: https://github.com/bavc/avaa/pull/142

[2017-08-27 14:47] #118 closed

[2017-08-27 21:29] #115 closed

[2017-08-27 21:29] #66 closed

[2017-08-28 13:35] #130 closed

[2017-08-28 13:35] #34 closed

[2017-09-25 22:12] ablwr opened #164 "Dirt and Sparkle"
In the film category, we have both [Dirt](https://bavc.github.io/avaa/artifacts/dirt.html) and [Sparkle](https://bavc.github.io/avaa/artifacts/sparkle.html), but is there any way to consolidate these? Is there a reason for them to remain distinct?

[2017-09-25 22:29] kieranjol commented on #164
Maybe cos they have different causes and different methods to solve the
issue? Sparkle, AFAIK is created in the printing process on the emulsion
side and probably needs to be fixed digitally, whearas dirt (if not
inherited from source) is probably generated through use and can be removed
physically or digitally?

On 25 Sep 2017 11:12 pm, "Ashley" <notifications@github.com> wrote:

In the film cate

[2017-09-25 22:32] kieranjol commented on #164
Not sure that these are enough reasons to keep them distinct...

On 25 Sep 2017 11:29 pm, "Kieran O Leary" <kieran.o.leary@gmail.com> wrote:

[2017-09-25 22:57] ablwr commented on #164
That is a notable difference, thanks @kieranjol, I didn't think of it that way

[2017-09-25 22:59] kieranjol commented on #164
Actually, I brought a bias into this. I pretty much never worked with negs,
only positive reversal or prints. I think these both are similar enough and
could warrant the combination. Sorry for my ramblings.

On 25 Sep 2017 11:32 pm, "Kieran O Leary" <kieran.o.leary@gmail.com> wrote:

[2017-09-26 07:55] retokromer commented on #164
In my opinion, it’s important to distinguish between physically present on the element (can be cleaned easily before digitising or printing) and photographically copied to the element (which can be masked digitally, in a more or less convincing way, depending e.g. on the size).

[2017-09-26 16:10] ablwr commented on #164
Haha, and I have the opposite bias! I have only ever worked with original nitrate negatives and no prints. But with our powers combined, Kieran..!!!!

[2017-11-22 16:31] WinnieSchLin opened #166 "Tag for Common Artifacts"
Hi all, I’m a student and am *so* thankful that you all have made and put so much work into AVAA, because it’s such an incredible learning resource, and has made such an incredible difference in dealing with video!

When I first started looking at video and was trying to identify artifacts, I would search for words that described what I was seeing (like “rainbow” and “horizontal”). I would find he

[2017-11-22 17:28] ablwr commented on #166
Winnie, thank your for opening this issue and for your thoughts! For me personally, this has always sort of been the biggest low-grade crisis of the A/VAA -- how to find things when you don't know what you are looking for? So I really appreciate you bringing this up.

I also appreciate this proposal and would be happy to accept it in as a tag!

I'd also like to hear from other people who work on v

[2017-11-22 17:41] bturkus commented on #166
Yeah, I totally think this is a great idea too, and I'm all about seeing any barriers lowered for the new-to-video prez.

I'm actually sitting next to @WinnieSchLin right now, and we'd love to implement this today if poss. Of course, we have no idea how to add a new tag. lil' help @ablwr??

[2017-11-22 17:44] ablwr commented on #166
😆

The page loops through all the potential tags, so if you add it even once to one record, it will automatically create it!

[2017-11-22 17:45] retokromer commented on #166
It's magic!

[2017-11-22 18:01] bturkus commented on #166
It really is! Thanks @ablwr!!

One last question: could we add an * or something to the "common artifact/s" tag to enhance findability (bumping it to the top)? no big if you think it'd be a bad idea

[2017-11-22 18:04] ablwr commented on #166
Ahhhh, would it be better to introduce and add a link to the tag on the homepage? It will appear in the cluster naturally, but perhaps above the instructions for "You can browse this site..."? The link, when at least one tag is created, will end up being https://bavc.github.io/avaa/tags.html#common-artifacts

[2017-11-22 19:47] WinnieSchLin commented on #166
That sounds great!
@GregH18 and I just went through and added all the tags (so sorry about all the emails, we couldn't figure out how to make a universal change for the tags), and added the link where you suggested! Thank you so much for all of your patience, hopefully we didn't make too much of a mess.

[2017-11-22 20:41] krhaydon commented on #166
Terrific idea, thanks everyone!

[2017-11-22 20:41] ablwr commented on #166
😅 Just many emails!

They are already live and looking good though!! This is a great contribution!

[2017-11-22 20:42] ablwr commented on #166
@krhaydon what happened to @kellyhaydon ?!?!?!?!?! 💀 RIP

[2017-11-22 20:47] ablwr commented on #166
Closing this issue, as it is complete. Thanks @WinnieSchLin and @GregH18

[2017-11-22 20:47] #166 closed

[2017-11-27 21:23] bturkus opened #192 "potential soundcloud fix?"
hi all,
I was chatting with @kellyhaydon, and we may have come up with a decent solution for consolidating our video and audio sample files on IA and eliminating our reliance on soundcloud.

the fix would be: transcoding the MP3s to video MP4s, while also adding fun FFmpeg visualizations that would cater to the particulars of the errors themselves. So, for example, instead of having our Audio Phas

[2017-11-27 21:32] iamdamosuzuki commented on #192
I think this sounds like a great idea! I could potentially write a little Bash script that randomizes what the visualization would be, so users would just need to feed the script and get the MP4s out easily.

[2017-11-27 21:32] ablwr commented on #192
😎 @iamdamosuzuki ! 😎

[2017-11-27 22:03] privatezero commented on #192
This sounds like a great idea! I can see pairing the artifacts' audio with what they might potentially look like on monitoring equipment/software being super helpful!

[2017-11-27 22:07] oceanofsound commented on #192
Really great idea, I'm all for it (is there anything FFmpeg can't do?).

[2017-11-28 01:34] krhaydon commented on #192
This ffmpeg fix idea came about when we realized the IA embeds for audio were both boring and craptastic.

https://archive.org/help/audio.php?identifier=AVAAFlutter&ht=300&wd=500&url=https%3A%2F%2Farchive.org%2Fembed%2FAVAAFlutter%26playlist%3D1%26autoplay%3D1

Go ffmpeg!

[2017-12-14 10:22] briancash opened #194 "Head clog glitches or something else?"
Hi,

Myself and @kieranjol are looking to refine our glossary of dv errors before we begin ingest on a project. One error that keeps showing up when we test on QC Tools and DV Analyzer is an element of head clog. Given the example used on the AVAA site- are the small chequered flag glitches (highlighted in red) considered to be 'head clog' or they a separate issue that can occur outside of head cl

[2017-12-14 15:24] ablwr commented on #194
You should submit that glossary to AVAA!

I tried to speculate and come up with an answer for you, but I can't confidently make an assertion here. I think it certainly could be a head clog or specific decay on the tape itself.

[2017-12-14 16:03] bturkus commented on #194
I also have no idea what to call this particular error, but thanks for submitting something unknown to the issue tracker. the system works! now we just need to get other people to use it.

[2017-12-14 16:45] kieranjol commented on #194
I think those checkerbox squares have popped up a few times in a few tapes.
@briancash might have the corresponding DV analyzer error that highlights
those glitches, I can't remember if it's always the same description or
not..

On Thu, Dec 14, 2017 at 4:03 PM, bturkus <notifications@github.com> wrote:

[2017-12-14 16:48] briancash commented on #194
I'll drum up a few more examples with the corresponding Dv analyzer info and update the thread tomorrow. Thanks for the reply @bturkus

[2017-12-14 16:49] ablwr commented on #194
A closer crop might be helpful too because the resize causes compression artifacting?

[2017-12-14 16:52] kieranjol commented on #194
@ablwr  would zooming in using QCTools and then taking a screenshot work?

[2017-12-14 16:58] ablwr commented on #194
sure

[2017-12-15 04:45] michaelangeletti commented on #194
Hi guys,

I don’t have definitive information regarding the artifact Brian inquired about, but in our production database at SMPL, I put those types of checkered flag pixel artifacts into the “DV dropout” column. I usually see them appear alongside the very common 32h x 8v pixel dropout configuration containing color patterns retrieved from other parts of the frame or previous frames. I think thos

[2017-12-15 13:44] briancash commented on #194
Thank you @bturkus , @ablwr and @michaelangeletti for your responses. I have attached zoomed in screenshots of the errors from Qc Tools including one glitch that is in colour (not sure if it's directly related to the other checkered flags). It would be handy to get some kind of terminology for these as they seem to pop up fairly regularly in this current project. If they fall under 'DV dropout' as

[2017-12-15 19:21] bturkus commented on #194
Hi everyone,

If we end up in a place where we have to create our own terminology, I'm all for "DV Checkerboard Error." But, before we head down that path, let me reach out to Adam Wilt to see if he can shine a little light on this for us. It might not work out--the contact page on his site explicitly states, "Sorry, I don’t have time to answer general DV questions, and I flat-out refuse to tell y

[2017-12-15 19:24] dericed commented on #194
I'd prefer to reference discrete cosign transform (DCT) in the error name rather than the word checkerboard since it would point people in a more helpful direction.

[2017-12-18 09:44] briancash commented on #194
Having just googled to learn what DCT is... thats a good description for those errors

[2018-04-01 19:21] ablwr opened #196 "Interlacing"
AVAA doesn't have an entry for interlacing, but that is a very common video error.

[2018-04-01 19:36] kellyhaydon commented on #196
Hmm. I haven't to date considered interlacing an error or an anomaly but I
can see where people would think it is an error and try to look it up. I
can write one up.

On Sun, Apr 1, 2018 at 3:21 PM, Ashley <notifications@github.com> wrote:

--
Kelly Haydon
Audiovisual Archivist
Fales Library and Special Collections
New York University
Phone: 212 998-2593 <(212)%20998-2593>
Email: kelly.haydon@nyu.

[2018-04-01 20:08] privatezero commented on #196
+1 for this, I definitely consider visible combing from interlacing an error, just an error on the monitor side (can't handle the signal) rather than the tape side.

Would probably be useful for people trying to figure out why all their digitized video looks funky via the computer!

[2018-04-01 20:10] ablwr opened #197 "more specific video head clog examples"
Examples in head clog should note what kind of video format is in the example https://bavc.github.io/avaa/artifacts/video_head_clog.html

[2018-04-01 20:23] ablwr opened #198 "Replace VTR"
VTR is used a lot in the description field but this in-crowd lingo isn't very friendly to new users. Video Tape Recorder or a more casual terminology should be used instead.

[2018-04-01 20:40] ablwr opened #199 ""film splice""
Consider adding a new artifact for what a poorly-done film splice looks like

[2018-04-01 21:01] bturkus commented on #196
Maybe we also try to find some specific interlacement errors too? So two or
more different categories--"Interlacement: it's not an error!," and then
things like: "BFF captured and displayed as TFF," or "Poor standards
conversion during duplication."

I just had a great example recently--PAL Betacam shittily duped to NTSC
VHS--but I don't think I'm in a good position to share it. Anyone have any
id

[2018-04-01 21:08] kellyhaydon commented on #196
And then what about poor de-interlacing? That can bust things up too, no?

On Sun, Apr 1, 2018 at 5:01 PM, bturkus <notifications@github.com> wrote:

--
Kelly Haydon
Audiovisual Archivist
Fales Library and Special Collections
New York University
Phone: 212 998-2593 <(212)%20998-2593>
Email: kelly.haydon@nyu.edu

*Please note that email is the fastest way to reach me*

[2018-04-01 21:08] kellyhaydon commented on #196
these are good questions

[2018-04-02 05:27] retokromer commented on #199
… as well as correct splices who may cause troubles while digitising on some scanners (e.g. the 16 mm diagonal one).

[2018-04-02 05:30] retokromer commented on #196
I do like the «Interlacement: it's not an error! Yet…» approach!

[2018-04-02 18:21] iamdamosuzuki commented on #196
I can think of times when interlacing would be a file issue. I've encountered instances in which a file made for progressive playback has not been properly de-interlaced. For example, upresing SD content to HD without properly de-interlacing. Also, I've seen DVDs that aren't interlaced properly and the interlacing artifact is visible on playback.

I've also encountered analog tapes that are poorly

[2018-06-06 19:09] ChrisNicols opened #200 "Green Flicker"
I've started noticing a weird green flickering artifact at the top of my Betacam tapes. At first I thought it was just a series of tapes with a unique tracking problem. I ran it through a different Betacam machine and didn't see the flickering green artifact anymore, so now I'm starting to worry my Sony Betacam UVW-1800 is dying. I'm a little doubtful of that, though, because this green flicker do

[2018-06-06 19:12] kieranjol commented on #200
Looks like it could be a tbc error,but that's usually straight lines,yours looks like quite a distinctive pattern. We have the same deck and I haven't seen it show up.could you share a video in the original encoding of the error with a few frames either side?I'd love to see it in qctools..

[2018-06-06 19:20] ChrisNicols commented on #200
This is probably not the best way to do it, but here is a 30 second video of it. The flicker isn't something that shows up for 15 seconds and then disappears, its always present.

https://www.youtube.com/watch?v=ptogAuUHlq4&feature=youtu.be

[2018-06-06 19:35] kieranjol commented on #200
Thanks for sharing! I won't really be able to help any further, but it
would be great if you could share an uncompressed/lossless version of that
clip on the internet archive. I think even two or three seconds would
suffice.  I'd still like to investigate it further, and more knowledgeable
people than me could  have better insight with a higher res clip. I'd like
to see the original interlaced ver

[2018-06-06 20:15] ablwr commented on #200
Aliens 👽

[2018-06-06 20:17] kieranjol commented on #200
Ah,only seeing the qctools report in your edited comment now.

[2018-06-06 20:42] ChrisNicols commented on #200
I will upload the video tomorrow. Its taking a long while to upload to the Internet Archive

[2018-06-06 20:47] michaelangeletti commented on #200
Hi, everybody.

Chris, does it only happen with a series of tapes from a certain collection, or does it happen randomly with tapes that are from different collections, recorded in different machines?

Because of the location and color of the artifact, I would guess that this could be due to a difference in mechanical alignment between the machine that recorded the tape and your UVW-1800. It looks

[2018-06-06 20:57] ChrisNicols commented on #200
Thanks, Michael. I will get to a more detailed response tomorrow, but I'm just about to leave for the day. In the mean time, here is a link to the video file itself:
https://archive.org/download/GreenTEST

[2018-06-07 15:21] ChrisNicols commented on #200
Hey Michael, you must be some kind of genius, because you were exactly right about it being a alignment issue. I turned off the internal TBC and ran the Betacam machine through my DPS-290 and now it looks perfect. I have digitized over 50 tapes in the last month on this machine and never had the problem before getting to this set of tapes. I even tried running some of the older tapes through it ag

[2018-06-07 15:23] ablwr commented on #200
@ChrisNicols can you add this error to the AVAA? 😺

[2018-06-07 16:06] ChrisNicols commented on #200
Michael,

Thank you for your detailed response. I have digitized around 50 tapes on this particular UVW-1800 and only started seeing the problem with this most recent set of tapes. When I go back and play old tapes I know worked, the green flicker issue does not occur. I would think it must be the tapes then, but for two things: 1. When played through another UVW-1800, the green flicker issue does

[2018-06-07 16:59] ChrisNicols commented on #200
@ablwr I will add the error this afternoon.

[2018-06-13 15:50] ChrisNicols commented on #200
Should I start a new entry about Head Misalignment?

[2018-06-13 15:53] ablwr commented on #200
HELL YEA

[2018-06-13 18:31] iamdamosuzuki commented on #200
I'll reach out to some techs and see if I can dig up a manual

[2018-06-13 18:59] ChrisNicols commented on #200
I think I found a manual, but I didn't see any indication of tracking controls. I'm probably just missing something obvious, and any help is appreciated.

[2018-06-13 19:28] michaelangeletti commented on #200
Hi Chris,

I’ve used that deck a lot in the past, but I don’ remember it ever having a tracking control (we don’t have an 1800 right now). The PVW and BVW series machines have one, but due to the comparatively good accuracy of the control track pulses with the Betacam system, it’s not usually necessary to adjust tracking in most cases. If I remember correctly, the UVW series was intended to be a l

[2018-06-14 16:18] ChrisNicols commented on #200
Thanks Michael,

That is a lot of very useful information for me to consider.

I'm just finding out that our playback decks have not been serviced for a long time, so before I make any more concrete judgments about whats going on, that needs to happen. Other AV archivists I've talked with so far seem to think its some kind of misalignment issue as well, but I'm sure the lack of maintenance is only

[2018-06-15 14:50] ChrisNicols commented on #200
Since I met a few people watching this thread last night, I just wanted to update everyone on the article I need to write about this issue. My immediate supervisor is excited for me to provide examples and write about what we're doing at the NYC Municipal Archive, but we just need to get it OK'ed by the head of the archive, first. Hopefully this afternoon or next week.

[2018-06-19 20:33] michaelangeletti commented on #200
Hi Chris,

I'm just finding out that our playback decks have not been serviced for a long time, so before I make any more concrete judgments about whats going on, that needs to happen. Other AV archivists I've talked with so far seem to think its some kind of misalignment issue as well, but I'm sure the lack of maintenance is only exacerbating it.

If you need recommendations for service providers

[2018-06-20 20:44] ChrisNicols commented on #200
I would love recommendations in the NYC area. Currently I have been advised by several MIAP alumni that http://www.alartvideo.com/ is very good and speaking with the owner over the phone was very informative. That being said, we have not made a final decision.

Thats an interesting piece of information. I dont have the opportunity to get new equipment any time soon as we just got the tape lab set

[2018-06-21 03:45] retokromer commented on #200
Peter Brothers
peter@specsbros.com
+1 (973) 777-5055

[2018-07-31 18:59] ChrisNicols opened #201 "Electrical Ground Loop Interference Herringbone?"
<img width="839" alt="175_2422_1" src="https://user-images.githubusercontent.com/38360203/43480357-0ac12f3c-94d1-11e8-808f-bad84ae142f1.png">

<img width="1581" alt="175_2425_3" src="https://user-images.githubusercontent.com/38360203/43480489-6b43a5b0-94d1-11e8-9ac7-94400db87838.png">

<img width="1581" alt="175_2425_2" src="https://user-images.githubusercontent.com/38360203/43480495-717a6644-94d1

[2019-02-05 22:47] iamdamosuzuki opened #204 "What to call this error: Partial Video Head Clog"
I recently ran across an issue that looks like a line across the frame. At first we thought it was a tape crease, since it sort of looks like that. Then we realized it was a deck problem. It was fixed by thoroughly cleaning the head drum.

The problem seems to have been caused by a small piece of dirt or gunk distorting the tape path, however I don't know exactly what to call it. I asked some vide

[2019-02-08 00:32] michaelangeletti commented on #204
I don't have a strong preference because each of these names makes sense given your explanation, and I haven't seen this type of artifact explained anywhere either (which I think means it would be a good one to add). I like "partial head clog" less, because generally speaking, it makes me think of what someone would see before a video image is lost due to a fully clogged head, and that is very dif

[2019-02-08 16:39] bturkus commented on #204
+1 for "gunk drum" or "gunky drum"

On Thu, Feb 7, 2019 at 7:32 PM Michael Angeletti <notifications@github.com>
wrote:

--

*Benjamin Turkus | The New York Public Library*
*Assistant Manager for Audio and Moving Image Preservation*

Barbara Goldsmith Preservation Division
40 Lincoln Center Plaza, New York, NY 10023
T. 212.870.1609 <(212)870-1609> | benjaminturkus@nypl.org
http://www.nypl.org/prese

[2019-02-08 16:41] bturkus commented on #204
more srsly, I think it'd be really cool to add this to AVAA, possibly with
a side-by-side (or direct link to) a video of a tape crease

On Fri, Feb 8, 2019 at 11:39 AM Benjamin Turkus <benjaminturkus@nypl.org>
wrote:

--

*Benjamin Turkus | The New York Public Library*
*Assistant Manager for Audio and Moving Image Preservation*

Barbara Goldsmith Preservation Division
40 Lincoln Center Plaza, New

[2019-02-08 16:49] ablwr commented on #204
yes please!

[2019-02-08 18:51] iamdamosuzuki commented on #204
It seems like the jury has reached a verdict, I'm going to go with "Dirty Head Drum". i'll reupload the file so that URL doesn't have the old name. Also I'll keep on the lookout for a crease. It actually looks a lot like a crease, but it stays for a long long time, while a crease is usually momentary

[2019-02-08 19:03] iamdamosuzuki commented on #204
well....it looks like you can't change the ID or URL of a file on the internet archive. I've emailed support to ask them to do so. If they can't do it I'll ask them make the original record dark and re-upload the file to a new record. more to come!

[2019-02-08 19:25] klipska commented on #204
I think Jeff Kaplan can change the identifier: kaplan@achive.org

On Fri, Feb 8, 2019 at 11:03 AM Morgan Oscar Morel <notifications@github.com>
wrote:

[2019-02-08 19:26] klipska commented on #204
Er... kaplan@archive.org

On Fri, Feb 8, 2019 at 11:25 AM Kristin Lipska <cinema.snaile@gmail.com>
wrote:

[2019-02-10 02:37] iamdamosuzuki commented on #204
The video has been moved to the following URL:

https://archive.org/details/DirtyHeadDrum

I'll close this ticket and work on the PR. Thanks all!

[2019-02-10 02:37] #204 closed

[2019-02-12 22:21] iamdamosuzuki opened #207 "Luminance Blooming"
Hi all,

I have uploaded an example of what we typically called "Native luminance clipping" or "Luminance blooming". The error appears to be caused by old or worn-out picture tubes in tube cameras. From what I can gather, the voltage int he tube saturates in the spot where it's hit with too much light. Has anybody heard a more official term for this? In a sense it seems like "tube saturation" woul

[2019-02-13 21:04] michaelangeletti commented on #207
What a great example video! There is an entry in the AVAA for Image Lag (AKA "Comet Tails") which is also a video tube-related artifact. In this example, it looks to me like the camera is set up to record a low light scene at the start. Then when the lamp is turned on, the brightest part of the image around the lamp  is completely clipped because the gain is turned way up to accommodate that low l

[2019-02-16 19:19] iamdamosuzuki commented on #207
Thank Michael!

I'll definitely link the article for this artifact with the Image Lag/Comet Tails page.

I'll also make sure to include other possible terms. I did some searching and found that Charles Bensinger's _The Video Guide_ mentions the term "blooming" at least once (page 46).

[2019-02-16 19:19] #207 closed

[2019-04-01 18:56] awilkens opened #210 "Sony HDCAM artifact"
https://uwmadison.box.com/s/necpixbxgki72uu4gf23fja1f469w6te

[2019-06-20 19:46] digitensions opened #212 "Digitised one inch interference, cause unknown"
https://archive.org/details/jowhite_one_inch_tape

Have permission to share to AVAA if you think it's a useful example. Sorted through AVAA entries, and unable to place this. Can share an short clip from the programme if valuable, but will need further permission to add to site. Look forward to hearing what you think!

[2019-06-20 19:49] kieranjol commented on #212
Would love to know more about this from someone with open reel experience
(I've none), is it some sort of alignment issue?

[2019-06-20 19:50] iamdamosuzuki commented on #212
This looks like some sort of tape damage or tape wear to me. Are the heads making any noise as if they're running against distortions in the tape? Does this error continue throughout the entire program? Is the RF meter moving up and down on the deck?

[2019-06-20 19:53] digitensions commented on #212
It was captured in 2012 by a vendor.  It remains consistent all the way through the capture 22 minutes, without ceasing and varying in height/drop.  It's wave like, it couldn't be electrical? You can see more clearly a stretch in the image with picture, I'll upload a short capture I just made with oscilloscope from QCTools - that may help

[2019-06-20 19:56] digitensions commented on #212
https://archive.org/details/Oscilloscope2

[2019-06-20 19:59] digitensions commented on #112
I've Firefox and Safari, happy to help if you let me know what kind of reviews you're looking for.
Have you thought about using QCtool filter examples with the artifacts - where they could show in QCtools? I think AVAA is a perfect companion to it.

[2019-06-20 20:07] iamdamosuzuki commented on #212
This is pretty interesting. From the second example it's clear that it's not a physical thing because it's too regular. I think you're right in your assumption that it's some sort of electrical or interference issue, but usually those get superimposed on the image rather than more the image around. Your second example I think makes the error very clear. I'll send it to folks who might now!

[2019-06-20 20:13] digitensions commented on #212
Awesome thanks. I've not seen anything like it in 25 years of video tape capturing/copying!  I'd be glad to hear what they think :) and if it's particular to one inch, which I have very little knowledge of.

[2019-06-20 20:16] ablwr commented on #112
Heyyyy! I think just clicking around and making sure that everything is working, things aren't shaped weird... search, clicking, browsing, all of that stuff. Okay that's question one.

I think a few of them have the QCTools report alongside! QCTools and AVAA really are paired together -- it'd be nice to make that pairing even closer and help make QCTools more understandable.

[2019-06-20 20:16] ablwr commented on #112
I'd love to hear your ideas!!

[2019-06-20 20:23] digitensions commented on #112
Okay, will do. I missed the QCtools example sorry.  I'll have a nose around :)

[2019-06-20 20:31] ablwr commented on #112
Oh I'm wrong, it's just this one lonely one: https://bavc.github.io/avaa/artifacts/tracking_error.html

[2019-06-20 20:38] digitensions commented on #112
Thanks for the link. I guess not every instance will have crossover with QCTools anyhow. This is such a great site, I love it 👍

[2019-06-21 00:01] ablwr commented on #212
@digitensions you found it so you get to name it ;) Is that how it works?

I'd love for you to add it to the AVAA! I feel like you are well savvy enough to do it on your own, but send me a message if you have any troubles.

[2019-06-28 14:00] digitensions commented on #212
I've checked the uncompressed version and the fault is easier to see so I've added an example in case anyone can identify it @iamdamosuzuki

https://archive.org/details/extract_201906

[2019-06-28 15:02] digitensions commented on #212
Was going to wait for some verdict before I add it Ashley, but I am happy to yes! Thank you for the invite and expect incoming :)

[2019-06-28 15:05] ablwr commented on #212
You are an expert @digitensions :)

[2019-07-06 17:46] DigitzOp commented on #212
Could possibly be a 1” DT (dynamic tracking) head issue but I suspect more likely some longitudinal damage on tape, not a scratch but maybe a slight crease or stretch causing head to tape velocity and contact changes across the head sweep giving tbc and DT a hard time. If the position of the tape defect varies with respect to distance to top and bottom edge of tape it would appear at different pla

[2019-07-10 08:57] digitensions commented on #212
I'll see if I can get my hands on the tape to check for creases/signs of wear and report back. Thank you for the commend though @DigitzOp

[2019-07-11 23:06] audiovisualopen commented on #212
Yes, would be great to see the original tape if possible. Might also be an alignment issue with the tape running across the heads due to poor machine calibration, or physical defect of the tape itself (such as scalloping)

[2019-07-12 08:52] digitensions commented on #212
I’ll try but it may not be possible. The capture prior to and after this one appear absolutely fine which would support a fault with the tape I suppose. Many thanks!

[2019-07-30 18:03] drodz11 opened #214 "Example submission: TIME BASE ERROR"
Video of time base error captured from VHS. AVAA page: https://bavc.github.io/avaa/artifacts/time_base_error.html

Link to video clip (1.2MB): https://drive.google.com/file/d/1q5RnRi5K4QwSEgDr5ayWoelj_2BUAiNA/view?usp=sharing

[2019-07-31 03:05] ablwr commented on #214
Adding people who I believe have the keys to the host site/account for media assets.

[2019-07-31 03:05] ablwr commented on #214
And thanks a bunch Dave!!

[2019-07-31 17:50] iamdamosuzuki commented on #214
Hi! I just want to verify that this is meant to be an example of flagging, which is present at the very beginning of the clip.

This is a little complicated because there is an entry for "Time Base Error" which mentions flagging here: https://bavc.github.io/avaa/artifacts/time_base_error.html

but there is also an entry for "Skew" which is "also known as: Flagging" here: https://bavc.github.io/ava

[2019-07-31 18:51] drodz11 commented on #214
Hi Morgan!

So I think the compression in Google Drive must have squashed out the error. In playing it through the viewer I provided in the link I see only a brief glimpse of the error at the start of the video, however playing the clip on my local machine using VLC I see it predominantly throughout the entire clip.

I tried uploading to Vimeo and got a better result: https://vimeo.com/351246350.

[2019-07-31 18:52] ablwr commented on #214
The Stanford folks I tagged on this have access to an archive.org account where we can host that media and hopefully retain the errors that we are trying to present here! I don't have access or credentials to that account, however.

[2019-07-31 18:53] ablwr commented on #214
I like that solution, thanks @iamdamosuzuki !

[2019-07-31 19:34] oceanofsound commented on #214
I'm actually not sure I have the log in details for the archive.org account, although it's possible the credentials never made it into my password manager. Soundcloud, on the other hand, I do have. @bturkus, was it you who originally did all the video uploading to the IA?

[2019-08-01 14:02] bturkus commented on #214
not to pass the buck, but it was @kellyhaydon who added most fo the vids, and I think @iamdamosuzuki and BAVC are the keepers of the log in info (tho I bet I could guess it lol).

Thanks for adding something new Dave, and sorry for the logistics issues.

[2019-08-01 14:39] drodz11 commented on #214
@bturkus Hey no problem! Happy to be contributing to this project.

@iamdamosuzuki  @kellyhaydon Just to ensure it didn't get lost in the back and forth: the better video that actually shows the error can be found here:  https://vimeo.com/351246350, not in the initial Google doc link I provided. Thanks and let me know if y'all need anything else on my end.

[2019-08-01 14:47] bturkus commented on #214
To pick up on the @iamdamosuzuki discussion, personally I'm not sure if it is worth preserving the distinction between flagging (top of screen) and skew (bottom). I've never thought of skew as a bottom-only phenomenon, more I've thought that skew was the cause, and flagging the symptom.

I don't have a Compendium of Image Errors handy, but in Practical VCR Repair I don't believe that David Ronan m

[2019-08-02 19:07] iamdamosuzuki commented on #214
@drodz11 You're right, that vimeo version shows the error MUCH better. google drive seems to enjoy doing whatever it wants to video files. Is there a chance you could send me the original video file through some other sort of cloud delivery method? I can upload it to the internet archive from there.

@bturkus Thanks so much for such an informative post. I think it would be possible to condense mos

[2019-08-02 22:40] michaelangeletti commented on #214
Looking at the artifact example in Vimeo, it's possible that this is related to a [dihedral problem](https://bavc.github.io/avaa/artifacts/dihedral_maladjustment.html) because of the way the flagging is shaped and the way that it is moving.

@bturkus I love your citations. The Compendium has synonyms for skew error as:  skewing, skew maladjustment, flagging, flag waving, and faulty tape tension re

[2019-08-04 17:25] drodz11 commented on #214
@iamdamosuzuki There should be an option to download the video on the Vimeo page. If this isn't working for whatever reason, here's the video in Dropbox: https://www.dropbox.com/s/ajftz8nnti6ujaq/TBE_forAVAA.mp4?dl=0

@bturkus @michaelangeletti thanks for all this super interesting information! FWIW, the capture setup I am using is a Panasonic AG-1980 SVHS deck (TBC is built in) running into an In

[2019-08-13 16:40] iamdamosuzuki opened #215 ""Wow" example is very NSFW"
The current example for wow is a folk song that contains graphic descriptions of sex acts. Without going into what is or isn't appropriate content for AVAA (as an side, I think it's absolutely hilarious) it would be nice to have an example that could be easily shared in a work or classroom environment without potentially putting someone in a compromising situation.

[2019-08-13 16:49] oceanofsound commented on #215
Very NSFW indeed. I thought this clip was only like 20 seconds? In any event, I think it should be cut down to the first 25 seconds, which would remove all the offending bits. Did we ever work out the access situation to the IA files?

[2019-08-13 17:13] oceanofsound commented on #215
Looks like it was never 20 seconds. The original Soundcloud file was accidentally uploaded in its entirety, unlike flutter.

[2019-08-13 17:28] iamdamosuzuki commented on #215
Regarding file access: It appears that most files have been uploaded by the _Bay Area Video Coalition_ account, which BAVC Preservation employees have access to. Most of the files have been uploaded to the following collection: [AV Artifact Atlas](https://archive.org/details/avartifactatlas)

If I can figure out how to download, edit, and reupload the current wow example I'll close this ticket

[2019-08-13 17:49] iamdamosuzuki commented on #215
All fixed!

[2019-08-13 17:49] #215 closed

[2019-08-13 17:57] oceanofsound commented on #215
Awesome, thanks for the quick turnaround!

[2019-08-13 17:59] iamdamosuzuki commented on #215
the beauty of working from home on a tuesday

[2019-12-16 14:57] digitensions commented on #212
Following NTTW4, this item was positively diagnosed as having a TBC error - this wave pattern having been seen before on one an two inch open reel formats.  I've popped in a PR on the TBC page to include this item if you think it's appropiate, and happy to close the issue if all agree :)

[2019-12-16 14:58] ablwr commented on #212
Yesssssss!!

[2019-12-16 20:23] digitensions commented on #212
Done and thanks @ablwr. Hope it's okay, feedback gratefully received. Pleased to close this as I'll never get a chance to see that tape now!

[2019-12-16 20:29] #212 closed

[2020-06-05 16:43] iamdamosuzuki opened #224 "Error Identification"
My wife came across this error while doing research and asked if I knew what it was. To be honest I'm a bit confounded! There's lines across the frame that switch position, which could either by a dirty head drum or a creased tape, but I feel like poor transport alignment is the culprit here. Any ideas?

https://archive.org/details/2286ArchieGreen

If we're unable to identify this error completely

[2020-06-07 18:22] ablwr commented on #224
Wow this thing's a mess, great find! And also: have no idea, wish I did.

[2020-06-08 21:54] michaelangeletti commented on #224
Oohh.... I think there's a lot going on there. At first, I thought there might have been a problem with a production switcher because the image breaks up every time the shot changes. That can happen with a matrix switcher that has an unstable reference input. But I don't think it happens consistently. It looks like the head switch is floating, too. I have seen that in mistimed analog video signals

[2020-07-10 23:13] CoreyBailey opened #225 "Browser improvements"
Links in the URL for Basecamp need to open in a separate tab or page in one's browser.

[2020-07-18 23:41] ablwr opened #226 "Feature: Adding formats"
@DaleLore has been gathering information on decks and collecting analog video formats.

I was thinking adding a Formats collection (aka the same data concept as the Artifacts) would be a great addition to the AVAA. It would also be a good proof-of-concept for how some of the AVKID working group work might work out, if added to the AVAA.

I just did a proof-of-concept, it'd look something like this

[2020-07-19 00:17] ablwr commented on #226
Here is the proof-of-concept branch: https://github.com/bavc/avaa/tree/formats-collection

[2020-07-19 00:24] ablwr commented on #226
Also maybe this goes without saying, but this is JUST a proof of concept! I know this should contain Audio formats too!

There also may be a better way of thinking about these video formats, and putting them into categories of likeness instead of completely separate ones. That could use some more thinking around, I haven't thought a lot about it. Being as specific as possible is probably best?

[2020-07-22 20:21] ablwr commented on #226
FWIW I did change many of them to categories of likeness, like DV for all DV types, putting all Film together instead of individually, etc. This seems like the best approach for newbies, and each can get more granular within the page.

[2020-07-29 23:58] #226 closed

[2020-07-31 15:05] manhattan-research-inc opened #230 "A/V Distinction"
1/2" Open Reel is an audio format too :) I'm trying to think of other places this may come up, and how this might affect tagging.

http://www.avartifactatlas.com/formats/half_inch_open_reel.html

[2020-07-31 15:49] ablwr commented on #230
Oooh great point -- I guess we should split them with something like half_inch_open_reel_video.md and half_inch_open_real_audio.md?

The the Formats page, we can definitely sort the formats by Audio, Video, Analog, Digital. Some documentation would definitely help, and it's up to me to write it!

Something I talked about with someone somewhere was adding all the "alternative names" behind the form

[2020-08-20 00:55] libbyhopfauf opened #236 "update: DV Dropout"
**Can it be fixed?**
Maybe. If the tape is damaged and that video information is missing, then you cannot recover the image.

If it was an error on part of the deck, then you might be able to reduce the dropout by cleaning the deck and/or tape. This is a good way to determine if the dropout is the result of a headclog or damage to tape/deck. Try cleaning your deck and transferring the tape again.

[2020-08-20 01:18] #236 closed

[2021-03-31 19:31] brnco opened #244 "site too good"
This resource is just too amazing.

Expected behavior: site would be useful and I would move on

Observed behavior: I just watch the glitches all day

Thanks!

[2021-03-31 19:31] brnco commented on #244
This is an example issue for the 2021 AMIA - DLF Hack Day Git Workshop

[2021-03-31 20:24] kieranjol commented on #244
Example reply also you’re great

On Wed 31 Mar 2021 at 20:31, Brendan Coates ***@***.***>
wrote:

[2021-04-15 14:41] sperglord8008s opened #246 "Help Identifying this bizarre form of Interlacing + field shift? (I Think) - - - (Solved - Combing)"
![081](https://user-images.githubusercontent.com/54192936/114887822-1e6b8c80-9e4c-11eb-8ebe-b7cf0260b1f9.jpeg)
![082](https://user-images.githubusercontent.com/54192936/114887828-1f9cb980-9e4c-11eb-8841-1052d2a4bd66.jpeg)
![083](https://user-images.githubusercontent.com/54192936/114887834-20355000-9e4c-11eb-887b-78778caefb6b.jpeg)
![084](https://user-images.githubusercontent.com/54192936/114887840

[2021-04-15 15:26] kieranjol commented on #246
Are there particular frames you'd like us to look at? There's so many here it's hard to figure out.

[2021-04-15 15:29] kieranjol commented on #246
https://user-images.githubusercontent.com/54192936/114888073-478c1d00-9e4c-11eb-9912-2d594e030cb5.jpeg
Do you mean the hands here? That's just two moments in time captured across two fields that are merged into one frame. Using QCTools and the split fields view is fun here as you can see both undistorted images on their own from the different moments in time.

[2021-04-17 16:03] sperglord8008s commented on #246
Yes , that's correct , QC Tools im not familiar with but looks really interesting. do you know if there is a specific name for this type of defect?  And would you happen to know if there is a process in virtualdub2 to fix this issue.

Thanks for your help BTW. much appreciated

[2021-04-17 16:03] sperglord8008s commented on #246
Yes , that's correct , QC Tools im not familiar with but looks really interesting. do you know if there is a specific name for this type of defect? And would you happen to know if there is a process in virtualdub2 to fix this issue.

Thanks for your help BTW. much appreciated

[2021-04-19 15:42] kieranjol commented on #246
It's called combing I would say?
https://en.wikipedia.org/wiki/Interlaced_video#Interlacing_problems
There's example pics that match what you're saying.
There isn't currently an AVAA entry for this, but it's discussed here: https://github.com/bavc/avaa/issues/196 I'd suggest replying to that thread if you feel that it requires inclusion.

Technically it's not an issue, you wouldn't notice it if pl

[2021-04-19 15:51] kieranjol commented on #246
Also can you share the actual video please?

[2021-07-03 02:11] ablwr commented on #244
Thank you very much

[2021-07-03 02:11] #244 closed

[2021-11-26 05:36] jfeakes opened #250 "BetacamSP Top Field Issue - unknown cause"
Issue detected in playback of a BetacamSP tape on a Sony PVW-2800P (component out). Appears to be caused by the VTR as tapes play back fine on other decks. Initially thought it was an undersaturation issue until I split the fields, seeing that the top field was receiving no chroma signal. Link here to an additional example from another tape https://www.dropbox.com/s/m4azdie4et959k0/clip.mp4?dl=0

[2021-11-26 06:13] jfeakes opened #251 "Example submission: Colour Shift (Dye Fade)"
Noticed no video/image examples for colour shift page so hopefully this can be of use. Link here to comparison videos for heavily dye-faded 16mm film with and without colour readjustment. Please don't judge my newbie colour-grading abilities! <3

Dye faded: https://vimeo.com/650188800
Correction: https://vimeo.com/650188800
Side-by-side: https://vimeo.com/650188800

[2021-11-29 21:07] michaelangeletti commented on #250
It’s possible that a single field chroma loss could be attributed to a dirty (or worn/faulty) head. Betacam SP reads fields 1 and 2 on Y (luminance) tracks with two separate heads on the scanner, and fields 1 and 2 on C (chrominance) tracks with two different heads. The Betacam PALsite has a diagram of the tape wrap, head layout and tracks-on-tape layout here:  http://betacam.palsite.com/format.ht

[2022-05-09 14:30] #246 closed

[2022-09-30 19:56] rschregle opened #252 "Example of permanent burn-in: mystery ghost image from the past"
Hi BAVC folks, I'd like to contribute an example to your AVAA article on Vidicon lag/ghosting/burn-in. It's a remarkable instance of permanent burn-in I discovered from a replacement Vidicon tube for an old camera. Apparently it was installed in a security camera in a previous life, and scanned the same image for (presumably) years, which became permanently burned into its photoconducting surface.